absl-py==0.9.0
adal==1.2.3
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.2
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
arrow==0.15.7
asn1crypto==1.3.0
astroid==2.4.2
astropy==4.0
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.3.0
autokeras==1.0.9
autopep8==1.4.4
aws-lambda-builders==0.6.0
aws-sam-cli==0.33.1
aws-sam-translator==1.15.1
aws-xray-sdk==2.6.0
azure-common==1.1.25
azure-mgmt-storage==10.0.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-file==2.1.0
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
-e git+git@github.com:bentoml/BentoML.git@9da130d3e0c159e7621d9c150687cad8aa71b0db#egg=BentoML
binaryornot==0.4.4
bitarray==1.2.1
bkcharts==0.2
black==19.10b0
bleach==3.1.0
blis==0.4.1
bokeh==1.4.0
boto==2.49.0
boto3==1.13.7
botocore==1.16.7
Bottleneck==1.3.2
cachetools==4.1.0
catalogue==1.0.0
Cerberus==1.3.2
certifi==2019.11.28
cffi==1.14.0
cfn-lint==0.33.2
chardet==3.0.4
chevron==0.13.1
Click==7.0
cloudevents==0.2.4
cloudpickle==1.3.0
clyent==1.2.2
cmdstanpy==0.4.0
codecov==2.1.7
colorama==0.4.3
commonmark==0.9.1
conda==4.8.2
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==5.0.0
ConfigSpace==0.4.12
contextlib2==0.6.0.post1
convertdate==2.2.1
cookiecutter==1.6.0
coverage==5.1
cryptography==2.8
cycler==0.10.0
cymem==2.0.4
Cython==0.29.15
cytoolz==0.10.1
dask==2.14.0+9.gc3ae93ed
dataclasses==0.6
dateparser==0.7.6
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
dill==0.3.2
distlib==0.3.0
distributed==2.11.0
dm-tree==0.1.5
docker==4.2.0
docutils==0.15.2
ecdsa==0.15
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
fastai==2.1.3
fastcache==1.1.0
fastcore==1.3.1
fastprogress==1.0.0
fbprophet==0.6
filelock==3.0.12
fire==0.3.1
flake8==3.8.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-OpenTracing==1.1.0
flatbuffers==1.12
fsspec==0.8.4
future==0.18.2
gast==0.3.3
gevent==1.4.0
gin-config==0.3.0
gitdb==4.0.5
GitPython==3.1.3
glob2==0.7
gmpy2==2.0.8
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.14.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==2.1.0
google-cloud-core==1.4.3
google-cloud-logging==1.15.0
google-cloud-storage==1.28.1
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
greenlet==0.4.15
grpcio==1.27.2
grpcio-opentracing==1.1.4
grpcio-reflection==1.27.2
grpcio-tools==1.27.2
gunicorn==20.0.4
-e git+https://github.com/openai/gym.git@6df1b994bae791667a556e193d2a215b8a1e397a#egg=gym
h5py==2.10.0
HeapDict==1.0.1
holidays==0.10.2
html5lib==1.0.1
httplib2==0.17.3
humanfriendly==8.2
hypothesis==5.5.4
ibm-cos-sdk==2.6.2
ibm-cos-sdk-core==2.6.2
ibm-cos-sdk-s3transfer==2.6.2
idna==2.8
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==1.5.0
importlib-resources==3.0.0
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jaeger-client==4.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.14.1
json5==0.9.1
jsondiff==1.1.2
jsonpatch==1.26
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
kaggle==1.5.8
Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-tuner==1.0.2rc2
keyring==21.1.0
kfserving==0.3.0.1
kiwisolver==1.1.0
korean-lunar-calendar==0.2.1
kubeflow-fairing==0.7.2
kubeflow-metadata==0.3.1
kubeflow-pytorchjob==0.1.3
kubeflow-tfjob==0.1.3
kubernetes==10.0.1
lazy-object-proxy==1.4.3
liac-arff==2.4.0
libarchive-c==2.8
lief==0.9.0
llvmlite==0.31.0
locket==0.2.0
lockfile==0.12.2
LunarCalendar==0.0.9
lxml==4.5.0
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
minio==5.0.10
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
ml-metadata==0.21.1
mock==4.0.1
more-itertools==8.2.0
moto==1.3.14
mpmath==1.1.0
msgpack==0.6.1
msrest==0.6.13
msrestazure==0.6.3
multidict==4.7.6
multipledispatch==0.6.0
murmurhash==1.0.4
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.3.0.36
opencv-python-headless==4.4.0.44
openpyxl==3.0.3
opentracing==2.2.0
opt-einsum==3.2.1
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.5
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plac==1.1.3
pluggy==0.13.1
ply==3.11
poyo==0.5.0
preshed==3.0.3
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
proto-plus==1.10.2
protobuf==3.11.3
psutil==5.6.7
ptyprocess==0.6.0
py==1.8.1
py-cpuinfo==7.0.0
py-zipkin==0.20.0
pyaml==19.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==4.0.1
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.5.2
PyJWT==1.7.1
pylint==2.5.3
PyMeeus==0.3.7
pynisher==0.5.0
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
pystan==2.19.1.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.10.0
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
python-editor==1.0.4
python-jose==3.1.0
python-json-logger==0.1.11
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-slugify==4.0.1
pytorch-lightning==1.0.2
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.8
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
readme-renderer==26.0
recommonmark==0.6.0
redis==3.5.3
regex==2020.6.8
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.10.15
retrying==1.3.3
rope==0.16.0
rsa==4.0
Rtree==0.9.3
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.10.0
seldon-core==1.2.0
Send2Trash==1.5.0
sentencepiece==0.1.91
serverlessrepo==0.1.9
setuptools-git==1.2
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
slugify==0.0.1
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.3.2
Sphinx==2.4.0
sphinx-click==2.3.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.6
srsly==1.0.2
sshpubkeys==3.1.0
statsmodels==0.11.0
sympy==1.5.1
table-logger==0.3.6
tables==3.6.1
tabulate==0.8.7
tb-nightly==2.4.0a20200805
tblib==1.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-datasets==4.0.1
tensorflow-estimator==2.3.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.24.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
tf-estimator-nightly==2.4.0.dev2020080501
tf-models-official==2.3.0
tf-nightly==2.4.0.dev20200805
tf-slim==1.1.0
thinc==7.4.1
threadloop==1.0.2
thrift==0.13.0
thriftpy2==0.4.11
toml==0.10.1
tomlkit==0.5.8
toolz==0.10.0
torch==1.7.0
torchvision==0.8.1
tornado==6.0.3
tox==3.15.2
tox-conda==0.2.1
tqdm==4.42.1
traitlets==4.3.3
twine==3.1.1
typed-ast==1.4.1
typeguard==2.9.1
typing==3.7.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.24.2
virtualenv==20.0.23
wasabi==0.8.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
yarl==1.4.2
zict==1.0.0
zipp==2.2.0
